---
---

<section class="hero">

  <div class="hero-bg"></div>

  <div class="hero-overlay"></div>

  <div class="hero-content">
    <h1>Tmbeza: Revolutionize your</h1>
    <h1>Technology, exceed your goals.</h1>
    <p>Innovation, Development and Support for an Efficient Future</p>
    <a href="#" class="cta-button">Discover More</a>
  </div>
</section>

<style>

    .hero{
        position: relative;
        width:100%;
        height:700px;
        display: flex;
        overflow: hidden;
        justify-content: center;
        align-items: center;
    }
  
 .hero-bg {
    position: absolute;
    inset: 0;
    background-image: url('/Hero-bg.jpg');
    background-size: cover;
    background-position: center;
    transform: scale(1.05);
    z-index: 1;
    filter: blur(14.6px); 
    }

  .hero-overlay{
    position: absolute;
    inset: 0;
    background-color: rgba(12, 20, 36, 0.6);
    z-index: 2;
    
  }

  .hero-content {
    position: relative;
    z-index: 10;
    text-align: center;
    max-width: 900px;
  }

</style>