---
---

<section class="hero">

  <div class="hero-bg"></div>

  <div class="hero-overlay"></div>

  <div class="hero-content">
    <h1>Tmbeza: Revolutionize your</h1>
    <h1>Technology, exceed your goals.</h1>
    <p>Innovation, Development and Support for an Efficient Future</p>
    <a href="#" class="cta-button">Discover More</a>
  </div>
</section>

<style">
  
</style>