---
---

<section id="container">
    <div class="row">
    <div class="block"></div>
    <div class="block"></div>
    <div class="block"></div>
    <div class="block"></div>
    </div>
</section>

<style>
    #container{
    width: 100%;
    background-color: black;
    }

    .row{
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 10px;
    display: flex;
    gap: 40px;
    }

    .block{
        background-color: red;
        width: 306px;
        height: 200px;
    }
</style>