---

---

<div id="container">
	
	<main>
	</main>

</div>

<style>

	@media screen and (max-height: 368px) {
		#news {
			display: none;
		}
	}

	@media screen and (max-width: 768px) {
		#container {
			display: flex;
			flex-direction: column;
		}

	}
</style>
