---
---

<section id="container">
    
    <h2>Passion · Dedication · Professionalism</h2>

    <h1>We promote your technology, we achieve results.</h1>
    <p>We stand out for our high customer satisfaction, significant reduction in downtime and improvement in operational efficiency. 
        Trust us to transform and optimize your technology with effective results.</p>
    
    <div class="colm">
        <div><p class="number">5</p> <p>Years of Experience</p></div>
    
        <div><p class="number">76%</p> <p>Downtime</p></div>
    
        <div><p class="number">3000</p> <p>Projects carried out</p></div>
    </div>
     

</section>

<style>

    .colm{
        display: flex;
        max-width: 800px;
        justify-content: space-between;
        font-family: Roboto;
        font-weight: 400;
        font-style: Regular;
        font-size: 18px;
        leading-trim: NONE;
        line-height: 32.4px;
        letter-spacing: 0%;
        vertical-align: middle;
    }

    .number{
        font-family: Nunito;
        font-weight: 700;
        font-style: Bold;
        font-size: 40px;
        leading-trim: NONE;
        line-height: 67.2px;
        letter-spacing: -1px;
        vertical-align: middle;
        color: rgba(248, 88, 82, 1);
    }

    #container{
        width: 100%;
        max-width: 838px;
        margin: 0 auto;
        height: 500px;
        text-align: center;
        color: white;
        padding-top: 50px;
    }

    h1{
        font-family: Nunito;
        font-weight: 700;
        font-style: Bold;
        font-size: 60px;
        leading-trim: NONE;
        line-height: 67.2px;
        letter-spacing: -1px;
        text-align: center;
        vertical-align: middle;

    }

    h2{
        font-family: Nunito Sans;
        font-weight: 600;
        font-style: SemiBold;
        font-size: 14px;
        leading-trim: NONE;
        line-height: 21px;
        letter-spacing: 2px;
        text-align: center;
        vertical-align: middle;
        text-transform: uppercase;
        color: rgba(158, 215, 187, 1);
    }

    p{
        font-family: Nunito Sans;
        font-weight: 400;
        font-style: Regular;
        font-size: 18px;
        leading-trim: NONE;
        line-height: 32.4px;
        letter-spacing: 0%;
        text-align: center;
        vertical-align: middle;
        color: rgba(255, 255, 255, 0.75);
    }
</style>