---
---

<section id="container">
    <div>
    <h2>Passion · Dedication · Professionalism</h2>
    </div>
    
     <div style="max-width: 1124px; margin: 0 auto;"><h1>Tembeza: Innovation, Development and Support tailored to you.</h1></div>

    <div class="block">
        <img src="/pen.png" class="img1">
        <div class="block-text">
        <h3>Comprehensive Consulting</h3>
        <p>We offer expert technology consulting, optimizing digital systems and strategies.</p>
        </div>
    </div>
    <div class="block">
        <img src="/cog.png" class="img1">
        <div class="block-text">
        <h3>Custom development</h3>
        <p>We create tailored technical and digital solutions to drive efficiency and innovation.</p>
        </div>
    </div>
    <div class="block">
        <img src="/magnif.png" class="img1">
        <div class="block-text">
        <h3>Reliable Maintenance</h3>
        <p>We guarantee continuous support, updating and repair to ensure the optimal performance of your systems.</p>
        </div>
    </div>
</section>

<style>
    h1{
        font-size: 60px;
    }
    h2{
        color: rgba(158, 215, 187, 1); 
        font-size: 20px; 
        font-style: Bold;
    }
    .block h3{
        font-family: Nunito;
        font-size: 24px;
    }

    .block p{
        font-family: Roboto;
        font-size: 15.2px;
        color: rgba(255, 255, 255, 0.6);
        font-family: Nunito;
    }
    #container{
        width: 100%;
        text-align: center;
        color: white;
    }

    .img1{
        width: 70px; 
        height: 70px;
        padding-top: 40px;
        padding-left: 40px;
    }

    .block{
        max-width: 1016px;
        width: 95%;
        height: 160px;
        display: flex;
        background: linear-gradient(91.32deg, rgba(255, 255, 255, 0.08) 0.05%, rgba(255, 255, 255, 0) 99.95%);
        border: 2px solid rgba(255, 255, 255, 0.08);
        border-radius: 20px;
        margin: 0 auto;
        margin-top: 20px;
    }

    .block-text{
        text-align: start;
        padding-top: 20px;
        padding-left: 40px;
    }
</style>