---
---

<section id="container">
    <div class="row">
    <div class="block">
    <div class="block-content">
     <img src="./square.png" alt="Logo" />
     <h1>Technological Consulting</h1>
     <p>We optimize systems, data and cybersecurity management, helping companies adapt effective and secure digital solutions.</p>
     <ul class="nav-links">
      <li>System optimization</li>
      <li>Data management</li>
      <li>Cybersecurity</li>
    </ul>
     </div>
    </div>

    <div class="block middle-block">
    <div class="block-content">
     <img src="./arrow.png" alt="Logo" />
     <h1>Technical and Digital Development</h1>
     <p>Powers businesses by creating customized solutions that improve processes, integrate technologies, and optimize operational efficiency.</p>
     <ul class="nav-links">
      <li>System optimization</li>
      <li>Data management</li>
      <li>Cybersecurity</li>
    </ul>
     </div>
    </div>

    <div class="block">
    <div class="block-content">
     <img src="./shield.png" alt="Logo" />
     <h1>Technical Maintenance</h1>
     <p>Ensure the continuous operation of system by updating, repairing and optimizing equipment and software.</p>
     <ul class="nav-links">
      <li>System optimization</li>
      <li>Data management</li>
      <li>Cybersecurity</li>
    </ul>
     </div>
    </div>

    </div>
</section>

<style>
   #container{
    width: 100%;
    background-color: rgba(12, 20, 36, 1);
    }

    .row{
        position: relative;
        display: flex;
        max-width: 1440px;
        margin: 0 auto;
        padding: 20px 10px;
        gap: 40px;
        color: rgba(255, 255, 255, 1);
    }

    .block{
        background-color: rgba(12, 20, 36, 1);
        border-radius: 15px;
        width: 100%;
        height: 320px;
        display: flex;
        text-align: start;
        padding: 50px;
        line-height: 24px;
        transition: transform 0.3s ease;
        &:hover {
      transform: scale(1.1);
    }
    }

    .middle-block{
      background: linear-gradient(149.07deg, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0) 100%);
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    ul li {
        background-image: url('/Vector.png');
        background-repeat: no-repeat;
        padding-left: 28px;
        background-position: 0 3px;
    }

    @media (max-width: 768px) {
    .row{
      flex-direction: column;
      height: auto;
      gap: 0px;
      padding-top: 10px;
    }

    .block{
      padding: 0px;
    }

    .middle-block{
      padding-top: 20px;
      padding-bottom: 20px;
    }
}
</style>
